       <%= form_with url: new_service_path, method: "PATCH" do |form| %>
      <ul>
        <%business.services.each do |service| %>
          <li>
            <label class="service_ids-select"> 
              <%= check_box_tag 'service_ids[]', service.id -%>
              <%= service.title %>
            </label>
          </li>
        <% end %>
        <%= form.submit%>
        </ul>
      <% end %> 