  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">About Us</h4>
            <p class="mb-0 text-white-50"> For over 14 years now, Action Septic has been providing customers with much-needed septic tank services. Let’s face it – a septic tank can be a delicate system, with a precarious balance of organic and chemical factors that must be carefully maintained. When that balance is tipped by poor or infrequent maintenance, the results can be catastrophic.<br>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
            But don’t worry, Action Septic is here for you, armed with the knowledge, products, and experience necessary to prevent such catastrophes and avoid the incredibly expensive excavations and drainpipe replacement those accidents often entail. What makes our services truly unique is that we don’t use harsh or dangerous chemicals to service your septic tank. Our system is natural and non-toxic. Phone: (877) 774-7776</p>
            
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>