  <div class="bg-black">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row container-fluid justify-content-center no-gutters my-5 mb-lg-0 py-5">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h2 class="text-white">24/7 Availability for Emergency Septic Services</h2>
            <p class="mb-0 text-white-50"> 
              Action Septic offers emergency septic services 24 hours a day, 7 days a week to those in and around Burlington County, NJ. We understand that unexpected issues can occur as a result of old or damaged septic tanks, which is why you can always count on our team of experts. Our professional technicians are available to provide emergency septic services as soon as you need it, no matter how big or small the issue is.
              </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h5 class="text-white">What you can expect from Action Septic and our technicians:</h5>
            <p class="mb-0 text-white-50"> 
              We have decades of experience in the septic cleaning industry, making our company one of the most reliable, dependable, and sought-after tank servicers in the area. Not only do we provide expert services that are incomparable amongst our competition, but we restore the peace of mind our clients deserve.
            </p>
              <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
              <p class="mb-0 text-white-50">     We have decades of experience in the septic cleaning industry, making our company one of the most reliable, dependable, and sought-after tank servicers in the area. Not only do we provide expert services that are incomparable amongst our competition, but we restore the peace of mind our clients deserve.</p>
              <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
              <ul class="text-white-50"> 
              
                <li>Wastewater appears on the ground above the drainfield</li>
                <li>Your sink and tub drain slower than normal</li>
                <li>You hear gurgling sounds from your pipes</li>
                <li>Your tank requires frequent pumps</li>
                <li>An awful, rotten odor emanates from the tank</li>
              </ul>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">

              <p class="mb-0 text-white-50">
                If any of the above signs become evident, contact us so that we can come out immediately to repair any issues before they become so catastrophic that the system requires total replacement. These issues are common indicators that a system needs emergency septic services, so don’t ignore them!  
              </p>

              <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
               <p class="mb-0 text-white-50">
              Whether you’re looking for grease trap maintenance or septic tank cleaning services, if you want the job done right, we are the ones to call. Our team is knowledgeable when it comes to septic, drain, and sewer services. Just as the safety of your septic system is our priority, calling us in the case of an emergency should be yours. Septic tank pumping and cleaning are often pushed to the bottom of the priorities list, but this can lead to serious problems and cost thousands of dollars. To avoid tank replacement, invest in regular maintenance every three to five years.
              </p>
            
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <p class="mb-0 text-white-50">
              From the moment you choose us, we will make it our mission to address your concerns and rectify the situation. We believe it’s essential for clients to remain informed and educated throughout the entire repair or replacement process, which is why our professional plumbing technicians are honest and transparent.
            </p>

            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <p class="mb-0 text-white-50">
              Don’t devalue the importance of a healthy and functioning septic system. If you are in Burlington County, NJ and need septic tank pumping or <a href="/sewer-drain">sewage tank cleaning services</a> , our team of professionals is ready to help. Our answering service is available around the clock because emergencies don’t wait for regular business hours. For emergency septic services, contact us immediately at 877-237-7964.
            </p>
            
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>
  </div>