  <div class="bg-black">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row container-fluid justify-content-center no-gutters my-5 mb-lg-0 py-5">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h2 class="text-white">Grease Trap Cleaning Services in New Jersey</h2>
            <p class="mb-0 text-white-50"> 
              Having proper and consistent grease trap cleaning services performed is necessary to keep your indoor pipes running smoothly. Fats, oils, grease, and solids can build up in your pipes, all of which may cause costly problems that you don’t need. For over the past several years, Action Septic has offered quality grease trap cleaning services to communities in Burlington and Gloucester County, NJ.
              </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h5 class="text-white">When Do You Need Grease Trap Cleanings?</h5>
            <p class="mb-0 text-white-50"> 
              The law requires you to have grease trap cleaning services performed on a regular basis. Improper grease trap cleaning, pumping, and maintenance can cause huge problems for your business and surrounding individuals. When your grease trap overflows, this can cause many different problems for your trap. It can even result in a backup of polluted water in neighboring homes and businesses, and flow into the streets. If found that you haven’t appropriately been doing all of the above, this could cause the closure of your business, or you can receive hefty fines due to trap blockages, overflows, or regulatory violations.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
              <h3 class="text-white">At Action Septic, our Grease Trap Cleaning Services Include:</h3>
              <h5 class="text-white py-2"> Our Drain and Sewage Tank Cleaning Services Include:</h5>
              <h4 class="text-white"> Grease Trap Pumping</h4>
              <p class="mb-0 text-white-50">
                At Action Septic, our technicians thoroughly pump grease traps to create an efficient working environment for the areas surrounding the grease trap. Once the grease is pumped out, we’ll clean the grease trap to remove any hardened oil that may be leftover which helps prevent future issues.
              </p>
            
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h4 class="text-white"> Grease Trap Disposal </h4>
            <p class="mb-0 text-white-50">
              To ensure your employees are working in a clean and safe environment, our professionals will dispose of all the grease removed from your trap. When we take care of your grease trap disposal, you’ll be confident that your commercial kitchen will be clean, safe, and non-hazardous.
            </p>

            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h4 class="text-white">Grease Trap Maintenance</h4>
            <p class="mb-0 text-white-50">
              Proper maintenance of your grease trap can prevent foul odors and ensure that your entire drain system is flowing as it should. If your business relies on kitchen use, maintenance to keep your grease traps clean is essential to your business. Grease trap cleaning services like those offered at Action Septic can help ensure that your commercial kitchen can function properly and efficiently, and that you can avoid the potential of a closure or fines.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <h3 class="text-white">Avoid Costly Repairs</h3>
            <p class="mb-0 text-white-50">
               Regular drain cleaning and sewage tank cleaning can help prevent a significant blockage, backflow or backup problems, broken or burst pipes, decreased water pressure, and much more. Action Septic provides continuous preventative septic tank cleaning services on residential and commercial properties, so problems won’t go unnoticed and lead to costly repairs.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <h4 class="text-white">FAQ</h4>
            
              <p class="mb-0 text-light font-weight-bold">What areas do you service?</p>
              <p class="mb-0 text-white-50 ">
                Action Septic services Burlington County, NJ, Gloucester County, NJ, and surrounding communities. If you are unsure about whether or not we service your community, please contact us at your earliest convenience.   </p>

              <p class="mb-0 text-light font-weight-bold">Can you help my business stay in compliance with grease trap requirements?</p>
              <p class="mb-0 text-white-50 ">
                Absolutely. Action Septic is among the most trusted grease trap cleaning service providers in NJ. You can count on our professionals to perform a thorough cleaning and properly dispose of the waste. We can also schedule regular cleanings in advance so you’ll never forget.
              </p>

              <p class="mb-0 text-light font-weight-bold">What other services do you offer?</p>
              <p class="mb-0 text-white-50 ">
                In addition to our grease trap cleaning services, our professionals are proud to offer septic tank cleaning services and sewage tank cleaning for commercial and residential customers. Feel free to give us a call or fill out the contact form on our website to see if we offer the service you need.
                </p>

              <p class="mb-0 text-light font-weight-bold">Do you offer Emergency Services?</p>
              <p class="mb-0 text-white-50 ">
                Indeed! We offer 24/7 emergency septic services to residents of Burlington County, NJ and Gloucester County, NJ. Those interested are encouraged to call us at any time.
            </p>
            
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>
  </div>