  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Action Waste Services</a>
      <a id="nav-small" class="navbar-brand js-scroll-trigger px-2" href="tel:+18772377964"><i class="fa fa-phone" aria-hidden="true"></i>(877)-237-7964</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Junk Removal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#septic">Septic </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <!-- Septic About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Action Waste</h2>
          <p class="text-white-50">For over 14 years now, <em>Action Waste Services</em> has provided customers with much-needed waste services. We make your life better by taking things away through our junk removal services or keeping your septic system flowing by servicing and maintaining a free-flowing system.</p>
        </div>
      </div>
    </div>
      <img src="img/action-waste-services.jpeg" class="img-fluid" alt="Action waste removal">
  </section>

  <section class="inverted-section">
    <div class="container align-items-center">
        <div class="mx-auto text-center">  
          <a class="inverted" href="tel:+18772377964"><h1 class="mx-auto my-0 text-uppercase">Call (877)-237-7964 open 24/7</h1></a>
        </div>
    </div>
  </section>

  <!-- Services Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Service Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/action-waste-junk-removal-truck.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Junk Removal</h4>
            <p class="text-black-50 mb-0">We can remove any junk you no longer want really fast. Our courteous and efficient team members are true professionals in removing junk from your home or business.</p>
            <a href="#signup  " class="btn btn-primary mt-3 js-scroll-trigger">Free Quote</a>
          </div>
        </div>
      </div>

      <!-- Septic Service Row -->
      <div id="septic" class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Septic Maintenance</h4>
                <p class="mb-0 text-white-50"> Heavy particulate matter in the waste water from the toilet, shower, sinks, and washing machine, called sludge, sinks to the bottom — this requires professional septic tank cleaning services. Action Septic is a full-service septic tank company, specializing in septic system cleaning, pumping, repairs, and inspections</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                        <a href="#signup  " class="btn btn-primary mt-3 js-scroll-trigger">Get a Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sewer Line Replacement Service Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/action-waste-excavation-service.jpg" alt="Action Waste Excavator Service">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Sewer Line Replacement</h4>
                <p class="mb-0 text-white-50">At Action Waste Services We offer a full range of sewer services, including main sewer line repair, sewer line replacement, and sewer line cleaning. It is critical to get the proper help to repair or replace the sewer lines as soon as possible to avoid damage. 
Our underground excavation division contains skilled operators that are precise and expert in sewer line maintenance and repair.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
                <a href="#signup" class="btn btn-primary mt-3 js-scroll-trigger">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grease Trap Service Row -->
      <div id="septic" class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/grease-trap-cleaning.jpg" alt="Action Septic Tank Cleaning">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Grease Trap Service</h4>
                <p class="mb-0 text-white-50"> Grease traps, are found in commercial businesses that handle food. Places such as restaurants, hotel kitchens, bakeries and more. Over time, the pipes can accumulate grease. The grease trap is the device that traps the grease before it has time to contaminate their waste water. We are a professional grease trap cleaning and service company with over 14 years of experience.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                        <a href="#signup  " class="btn btn-primary mt-3 js-scroll-trigger">Free Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Headquarters</h4>
              <hr class="my-4">
              <div class="small text-black-50">Lumberton, New Jersey 08048</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">action1septic@gmail.com </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <a href="tel:+18772377964"><div class="small text-black-50">(877)-237-7964</div></a>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Junk Removal Services</p>
        <a href="#">Garage Cleanout<a> |
        <a href="#">Attic Junk Removal<a> |
        <a href="#">Estate Sale Cleanout<a> 
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Septic Tank Services</p>
        <a href="#">Septic Tank Pumping<a> |
        <a href="#">Septict Tank Service<a> |
        <a href="#">Septic Tank Maintenance<a> 
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Excavation Services</p>
        <a href="#">Sewer Line Excavation<a> |
        <a href="#">Main Water Excavation<a> |
        <a href="#">Utitilities Excavation<a> 
      </div>
    </div>
    </div>

    <div class="container">
      Copyright &copy; Action Waste Services 2019
    </div>
    <div class="container small">
      designed by <a href="http://yoanante.com">Yoan Ante</a>
    </div>

  </footer>

