  <div class="bg-black">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row container-fluid justify-content-center no-gutters my-5 mb-lg-0 py-5">
    <div class="col-lg-6">
      <img class="img-fluid" src="/img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning Cinnaminson NJ">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h2 class="text-white">Septic Tank Cleaning & Pumping Cinnaminson NJ</h2>
            <p class="mb-0 text-white-50"> 
              Maintaining your septic tank may not always be your main priority, but when you have a house full of company and sewage in the basement, it probably will be! Proper septic tank maintenance can help prevent a catastrophe and at Action Septic, we will be there to help you even if that does happen.
              </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h5 class="text-white">Septic Tank Cleaning & Pumping Cinnaminson NJ:</h5>
            <p class="mb-0 text-white-50"> 
              Septic tanks need to be pumped every two to three years to keep working properly. If done on time the septic tank cleaning service in Cinnaminson, costs just a few hundred dollars. But if left for decades, septic cleaning can turn into septic replacement and cost you $5,000 to $10,000. Action Septic has been providing tank maintenance service in addition to septic pumping, as this can help spot problems along with signs of wear and tear. You will not find a more customer friendly septic company in Cinnaminson, NJ. So we hope you enjoy visiting our site and we look forward to meeting you.
            </p>
              <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
              <p class="mb-0 text-white-50">
                A regular septic pumping and cleaning schedule will help to prevent a disaster that could be messy, hazardous to your health, and expensive to fix. Our septic pumping technicians in Cinnaminson regularly clean, repair, and install septic tanks and drain fields. With over 20+ years of experience in the Cinnaminson NJ septic cleaning industry we’ve seen it all so you can rest assured that ACTION – SEPTIC will get the job done quickly and affordably. Our technicians are factory trained and we are factory certified on every septic system. We are happy to make appointments, something none of our competitors can claim! What makes our services truly unique is that we don’t use harsh or dangerous chemicals to service your septic tank. Our system is natural and non-toxic.</p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">

              <p class="mb-0 text-white-50">
                If you’re in need of septic tank cleaning & pumping services call us today at 877-774-7776
              </p>

          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>
  </div>