  <div class="bg-black">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row container-fluid justify-content-center no-gutters my-5 mb-lg-0 py-5">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">New Jersey Septic Tank Services</h4>
            <p class="mb-0 text-white-50"> 
              As veterans of the septic, sewer, and excavation industries, our company understands that in the busy lives of most residential or commercial property owners, keeping up-to-date with septic tank cleaning and maintenance falls to the bottom on the list of priorities. Often, home and business owners fail to take preventative action when it comes to septic tank services; which usually ends up requiring professional service to either clean out the mess created in or around your property or to pump out an overflowing septic system.
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              For all Central and South Jersey septic tank services, there’s no better choice than calling on Action Septic and our team of highly-skilled professionals to find your home or business the quickest and most cost-effective solution. Our septic specialists have been serving NJ residents of Burlington County, Camden County, and Gloucester County for nearly fifteen years. Both our customer service and workmanship are second to none in the area for all septic, sewage, or excavation needs.
            </p>

            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              Whether your residential septic tank needs a simple clean out or pump out, or if your commercial property requires septic tank removal or sewer line replacement; look no further than Action Septic to take care of any and every one of the septic tank services you need.
            </p>
            
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              Since 2007, we have handled both commercial and residential septic tank and pumping services, as well as offering solutions for grease trap maintenance for NJ residents.
            </p>
            
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              <ul class="text-white-50"> Our Septic Tank Services Include:

                <li>Maintenance & Pumping Services</li>
                <li>Sewage Tank Cleaning</li>
                <li>Septic Tank Drainage</li>
                <li>Septic Tank Emptying</li>
                <li>Emergency Services</li>
              </ul>
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              As Camden County, NJ’s most trusted choice for all emergency septic services, our emergency call line is open 24 hours a day, seven days a week for all of our valued customers. Here at Action Septic, we understand that a septic tank disaster can and usually does occur at the worst possible times in life. We know that there are few worse feelings than discovering a sewage leak just before hosting a house full of company, which is why our services are available day or night, including weekends. If you are in need of emergency services, contact us immediately. If left unmanaged, serious septic and sewage issues are not only a health hazard, they may also require thousands of dollars in repair or replacement.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              Our Commitment to Higher Septic Standards

              As you may or may not know, managing a septic tank requires a delicate balance between organic and chemical materials, a science that our team of experts at Action Septic know inside and out. As the leading septic tank service provider in Burlington County and Gloucester County, we commit ourselves to not only finding a quick and cost-effective solution to all of your septic tank drainage or emptying needs, but we commit ourselves to protecting the health of our customers in the solutions we use. Unlike other septic service providers that place their customers at risk by using toxic chemicals, Action Septic proudly stands behind our system that is both natural and non-toxic. 
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50">
              If you’re looking to set up a consultation or require emergency septic services, call us day or night, and our staff would be happy to accommodate any and every one of your septic or sewer issues.
            </p>
            
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>
  </div>