  <div class="bg-black">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Action Waste Services</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Big enough to serve, small enough to care!​</h2>
        <a href="#signup  " class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>

  <div id="septic" class="row container-fluid justify-content-center no-gutters my-5 mb-lg-0 py-5">
    <div class="col-lg-6">
      <img class="img-fluid" src="img/cleaning-septic-tank.jpg" alt="Action Septic Tank Cleaning">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text mx-3 w-100 my-auto text-center text-lg-left">
            <h2 class="text-white">Sewer & Drain Cleaning Company</h2>
            <p class="mb-0 text-white-50"> 
              For over 14 years, Action Septic’s professionals have used their expertise and specialized equipment to address a full range of services, including drain cleaning and repair, as well as sewage tank cleaning, repair, and replacement in Burlington County, NJ.
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <p class="mb-0 text-white-50"> <h5 class="text-white">Signs You Need Your Drain Cleaned</h5>
              <ul class="text-white-50"> 
                  There are quite a few circumstances which will require you to book a sewage tank or drain cleaning. Homeowners experiencing any of the signs listed below will need to call a professional.
                <li>Recurring blockages</li>
                <li>Aging sewer pipes</li>
                <li>Slow draining pipes</li>
                <li>Foul odor coming from indoor drains</li>
                <li>Breakage in the pipe system</li>
                <li>Signs of corrosion or discoloration</li>
              </ul>
            </p>

            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
              <h3 class="text-white py-2"> Our Drain and Sewage Tank Cleaning Services Include:</h3>
              <h4 class="text-white"> Kitchen Drains in Gloucester County, NJ </h4>
              <p class="mb-0 text-white-50">
              Over time, kitchen drains can have a build up of soaps, fats, grease, and food leading to unwanted blockages, which cause the sink to drain more slowly. If you think you may be dealing with a clogged kitchen drain, don’t wait, call Action Septic! Our professionals will use technology to cut through the clog, remove the debris, and restore your clogged kitchen sink drain to full functionality.
            </p>
            
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50">
            <h4 class="text-white"> Bathroom Drains in Burlington County, NJ </h4>
            <p class="mb-0 text-white-50">
              When showers, tubs, and sinks get clogged with hair, soap buildup, toothpaste, grime, toilet paper, and other bathroom products, this can all do severe damage to your drains over time and cause significant plumbing issues. Regardless of the issue, Action Septic plumbers have all the equipment necessary to address bathroom plumbing problems.
            </p>
            

            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <h4 class="text-white">What is Water Jetting & Cabling?</h4>
            <p class="mb-0 text-white-50">
              There are a few ways that our technicians approach sewage tank cleaning problems. The two most common forms are water or hydro jetting and cabling. Hydro jetting involves a stream of high water pressure that is very effective for cleaning out clogged pipes and maintaining a clean sewer line. The water pressure from hydro jetting is intense enough to remove even tree roots and hard water deposits from your pipes. Cabling is one of the most commonly known methods of removing clogs from drains and is more ideal for removing small clogs and buildups.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <h3 class="text-white">Avoid Costly Repairs</h3>
            <p class="mb-0 text-white-50">
               Regular drain cleaning and sewage tank cleaning can help prevent a significant blockage, backflow or backup problems, broken or burst pipes, decreased water pressure, and much more. Action Septic provides continuous preventative septic tank cleaning services on residential and commercial properties, so problems won’t go unnoticed and lead to costly repairs.
            </p>
            <hr class="d-none d-lg-block mb-0 ml-0 text-white-50"></p>
            <h4 class="text-white">Choose Action Septic to Tackle Your Drain & Sewage Needs!</h4>
            <p class="mb-0 text-white-50">
              At Action Septic, our highly trained and experienced technicians can help you easily find your problem, diagnose it, and then recommend what the best solution is for your drain. Our plumbing experts solve all types of commercial and residential drain problems in Gloucester County, NJ, and offer sewage tank cleaning quickly, efficiently, and for an affordable price. Our company also offers a 24/7 answering service for your convenience in case of any septic emergencies. Whether you need a sewage tank cleaning, drains unclogged, or grease trap maintenance – Action Septic always promises a clean and fair service.
            </p>
            
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/lead-form", lead: @lead %>
  </section>
  </div>