  <footer class="bg-black small text-center text-white-50">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Junk Removal Services</p>
        <a href="/#projects">Garage Cleanout<a> |
        <a href="/#projects">Attic Junk Removal<a> |
        <a href="/#projects">Estate Sale Cleanout<a> 
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Septic Tank Services</p>
        <a href="/septic">Septic Tank Pumping<a> |
        <a href="/grease-trap">Septict Tank Service<a> |
        <a href="/emergency">Septic Tank Maintenance<a> 
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <p>Excavation Services</p>
        <a href="/excavation">Sewer Line Excavation<a> |
        <a href="/sewer-and-drain">Main Water Excavation<a> |
        <a href="/excavation">Utitilities Excavation<a> 
      </div>
    </div>
    </div>

    <div class="container">
      Copyright &copy; Action Waste Services 2019
    </div>
    <div class="container small">
      designed by <a href="http://yoanante.com">Yoan Ante</a>
    </div>

  </footer>